/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2014, 2:04:44 PM
    Author     : michaelmcgrath
*/


body {
    font-family: 'Open Sans', sans-serif;
    width: 950px;
    margin: auto;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 400;
}

.ui-widget {
    font-size: .85em;
}

#charts\:dailyDialog .ui-dialog-content 
{
    max-width: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

#layoutHeader {
    background-color: #696a6d;
}

#layoutHeader .ui-widget-content {
    color: #FFF;
    background: #696a6d;
}

#layoutHeader .ui-widget-content h1 {
  text-align: center;
  font-size: 1.7em;
}

label.hdr {
    font-family: 'Montserrat';
    font-weight: 400;
}

#navCtrl {
    padding-left: 5px;
}

#filters\:selectCal, #filters\:selectQtr {
    font-size: 11px;
}
