/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2014, 2:04:44 PM
    Author     : michaelmcgrath
*/


body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 950px;
    margin: auto;
}

h1 {
    font-weight: 400;
}

.ui-widget {
    font-size: .85em;
}

#charts\:dailyDialog .ui-dialog-content 
{
    max-width: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

#layoutHeader {
    background-color: #696a6d;
}

#layoutHeader .ui-widget-content {
    color: #FFF;
    background: #696a6d;
}

#layoutHeader .ui-widget-content h1 {
  text-align: center;
  font-size: 1.7em;
}

label.hdr {
    font-weight: 400;
}

#navCtrl {
    padding-left: 5px;
}

#filters\:selectCal, #filters\:selectQtr {
    font-size: 11px;
}

.ui-tabs-panels {
    height: 100%;
}

#main, #main .ui-widget-content, #charts, #physicianWorkload, #histo, #machineUtil {
 background: #fff;
 color: #000;
}

.nodataerr {
    text-align: center;
    margin-top: 15%;
}

#navTV\:navMenu {
    background: #FFF;
}

.ui-dialog .ui-dialog-content {
    background: #FFF;
}

#login-grid .ui-widget-content
{
    border-style: none !important;
}

#login-panel, #login-panel .ui-widget-content
{
    background: white;
}